<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5">
  <div class="container"><a class="navbar-brand" href="#">FAQapp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">

      </ul>

    </div>
  </div>
</nav>
