<div class="question">
  <div class="card">
    <div class="card-header">
      {{question.text}}
      <a href="#" class="btn btn-link"
         (click)="question.hide = !question.hide">Show</a> |
      <a href="#" class="btn btn-link"
         (click)="removeQuestion(question)">Remove</a>
    </div>
    <div class="card-body" *ngIf="!question.hide">
      {{ question.answer }}
    </div>
  </div>
</div>
<br>
